/* CSS for InfoSecureXBlock  {{ monitor_icon }}*/

button.submit {
    margin-top: 4em;
}

.infosecurexblock_block .count {
    font-weight: bold;
}

.infosecurexblock_block p {
    cursor: pointer;
}
#Link1, #Link2, #Link3, #Link4, #Link5, #Link6, #Link7, #Link8, #Link9, #Link10, #Link11, #Link12, #Link13, #Link14, #Link15, #Link16{
    z-index: 0;
    cursor:pointer;
    opacity: 0.5;
    transition: opacity 0.4s;
}
.link1, .link2, .link3, .link4, .link5, .link6, .link7, .link8, .link9, .link10, .link11, .link12, .link13, .link14, .link15, .link16{
    text-decoration:underline; z-index: 10;
}
.link1 taskClose:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover, .link6:hover, .link7:hover, .link8:hover, .link9:hover, .link10:hover, .link11:hover, .link12:hover, .link13:hover, .link14:hover, .link15:hover, .link16:hover {
    color: blueviolet; /* Цвет текста активного пункта */
    background-color: white; /* Цвет фона активного пункта */
  
   }

   .link1:hover{color:white;}
   #lab3_links{
       margin-left: 200px;
       width:400px;
       height: 30px;
   }
#widget {
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
    height: 1050px;
    width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans, sans-serif";
    font-variant: normal;
    font-size: 20px;
    text-decoration: none; }
  
svg {
    width: 850px;
    height: 850px; }
  
.divAction {
    width: 850px;
    height: 200px;
    color: #f5f5f5; }
  
object {
    width: 100px;
    height: 100px; }
  
.one {
    width: 200px;
    margin-left: 10px;
    margin-top: 50px;
   /* border-radius: 10px;*/
    height: 30px;
    text-align: center; }
  /**/
.two {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 50px;
    text-align: center;
   /* border-radius: 10px;*/ }
.three {
    width: 200px;
    margin-left: 10px;
    margin-top: 50px;
    height: 30px;
    text-align: center;
   /* border-radius: 10px;*/ }


#dl {
    padding-right: 500px; }
  
#cloud {
    padding-bottom: 10px;
    padding-left: 50px; }

.connnectOpen{
    stroke: green;
}
.activeComp{
    opacity: 0.6;
  }
.taskOpen{
  transition-property: visibility, opacity;
  transition-duration: 0s, 1s;
}
.taskClose{
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 1s, 0s;
  transition-delay: 0s, 1s;
}
.Link1:hover, .Link2:hover, .Link3:hover, .Link4:hover, .Link5:hover,.Link6:hover,.Link7:hover,.Link8:hover,.Link9:hover,.Link10:hover,.Link11:hover,.Link12:hover,.Link13:hover,.Link14:hover,.Link15:hover,.Link16:hover{fill:lightblue;}
  
#comp1 path {
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 20; }
    #comp1 path:hover {
      stroke: skyblue; }

.block_task{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#checkid, #checkid2{
    float: right;
}

#readid , #writeid , #execid, #nothing, #wx,#rw,#rwx,#rx  {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 200px;
    height: 55px;
    margin-top: 8px;
    margin-left: 60px;
    text-align: center;
    float: left;
}
