svg {
    width: 850px;
    height: 850px; }
.modal-lg.modal-editor .modal-content{
    height: auto !important;
}
#widget {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    height: 1050px;
    width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans, sans-serif";
    font-variant: normal;
    font-size: 20px;
    text-decoration: none; }