/* CSS for InfoSecureXBlock  {{ monitor_icon }}*/

button.submit {
    margin-top: 4em;
}

.infosecurexblock_block .count {
    font-weight: bold;
}

.infosecurexblock_block p {
    cursor: pointer;
}

#widget {
    /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); */
    height: 1050px;
    width: 850px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans, sans-serif";
    font-variant: normal;
    font-size: 20px;
    text-decoration: none; }
  
svg {
    width: 850px;
    height: 850px; }
  
.divAction {
    width: 850px;
    height: 200px;
    color: #f5f5f5; }
  
object {
    width: 100px;
    height: 100px; }
  
.one {
    width: 200px;
    margin-left: 60px;
    margin-top: 50px;
   /* border-radius: 10px;*/
    height: 30px;
    text-align: center; }
  /**/
.two {
    width: 100px;
    height: 30px;
    margin-left: 60px;
    margin-top: 50px;
    text-align: center;
   /* border-radius: 10px;*/ }
.three {
    width: 200px;
    margin-left: 60px;
    margin-top: 50px;
    height: 30px;
    text-align: center;
   /* border-radius: 10px;*/ }


#dl {
    padding-right: 500px; }
  
#cloud {
    padding-bottom: 10px;
    padding-left: 50px; }
  
#taskId {
    display: none; }
  
#taskTextID {
    display: none; }
  
#comp1 path {
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 20; }
    #comp1 path:hover {
      stroke: skyblue; }
  
#File1Id{
    display: none;}
#comp2{
    background: url('../../public/images/monitor.svg');
}
.block_task{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#checkid{
    margin-left: 300px;
}